.question-card{
    position: relative;    
    cursor: pointer;

    .question-header{
        padding-right: 30px !important;
    }

    .container-skill{
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: #fff;
        border-radius: 5px;
        .icon{
            margin: 3px;
            
        }
    }

    .container-categories{
        padding-bottom: 15px;
    }
}